[Unit]
Description=Domoticz Home Automation Service
Wants=nginx.service
After=nginx.service
#PartOf=nginx.service
#JoinsNamespaceOf=nginx.service

[Service]
User=domoticz
Group=domoticz
ExecStart=/opt/domoticz/domoticz \
-www 8080 -sslwww 0 \
-wwwroot /opt/domoticz/www \
-wwwbind 127.0.0.1 \
-dbase /opt/domoticz/db/domoticz.db \
-userdata /opt/domoticz/ \
-notimestamps
WorkingDirectory=/opt/domoticz
Restart=on-failure
RestartSec=1m

PrivateTmp=true
PrivateDevices=false
PrivateNetwork=false
ProtectHome=true
# Conflicts with InaccessibleDirectories (/boot and maybe others)
#ProtectSystem=full
NoNewPrivileges=true

ReadOnlyDirectories=/opt /proc /etc /run /usr -/bin -/sbin -/lib -/lib64
ReadWriteDirectories=/opt/domoticz/db

InaccessibleDirectories=/boot -/lost+found /media /mnt /srv /sys \
-/usr/games -/usr/include -/usr/local -/usr/share -/usr/src -/var/backups \
-/var/cache -/var/lib -/var/local -/var/lock -/var/log -/var/mail -/var/opt \
-/var/spool -/var/www

{% if ansible_distribution_release != 'jessie' %}
MemoryDenyWriteExecute=true
ProtectKernelModules=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=true
{% endif %}

[Install]
WantedBy=multi-user.target
