## Proxy for HA Bridge
server {
  listen                    80;
  listen                    [::]:80;
  #server_name              TODO, MDNS;

  location / {
    proxy_pass              http://127.0.0.1:8081;
  }
}
