[Unit]
Description=Secure Nginx Proxy for Domoticz
Requires=nginx.socket
After=network.target nginx.socket

[Service]
User=nginx
Group=nginx
Environment=NGINX=3:4;
ExecStart=/usr/sbin/nginx -g "daemon off;"
ExecReload=/usr/sbin/nginx -g "daemon off;" -s reload

PrivateTmp=true
PrivateDevices=true
PrivateNetwork=false
ProtectHome=true
ProtectSystem=full
NoNewPrivileges=true

ReadOnlyDirectories=/proc /run /var/log /var/lib -/bin -/sbin -/lib -/lib64
ReadWriteDirectories=/run/nginx /var/log/nginx /var/lib/nginx

InaccessibleDirectories=/boot -/lost+found /media /mnt /opt /srv /sys \
-/usr/games -/usr/include -/usr/local -/usr/share -/usr/src -/var/backups \
-/var/cache -/var/local -/var/lock -/var/mail -/var/opt -/var/spool -/var/www

# Temporary workaround. Trying to get upstream service_mgr_version variable.
{% if ansible_distribution_release != 'jessie' %}
MemoryDenyWriteExecute=true
ProtectKernelModules=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=true
{% endif %}
